@font-face{font-family:"NVIDIA-NALA";src:url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/nvidia-sans/NALA/NVIDIASans_NALA_W_Lt.woff") format("woff"),url("https://images.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/nvidia-sans/NALA/NVIDIASans_NALA_W_Lt.woff2") format("woff2");font-weight:300;font-style:normal}
*{
    font-family: NVIDIA-NALA,Arial,Helvetica,Sans-Serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.fixed{
    position: fixed;
    width: 100%;
    background-color: #fff;
}
a{
    text-decoration: none;
}
h1{
    margin: 0;
    font-size: 48px;
    font-weight: 1000;
}
h2{
    margin: 0;
    font-size: 36px;
    font-weight: 1000;
}
h3{
    margin: 0;
    font-size: 18px;
}
p{
    margin: 0;
    font-size: 15px;
}
button{
    font-size: 16px;
    font-weight: 1000;
}
button:hover{
    background-color: #76d300;
    cursor: pointer;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}
#nav-bar ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#nav-bar ul li{
    list-style: none;
}
#nav-bar ul li a{
    color: #666;
    text-decoration: none;
}
#button-menu li{
    padding: 10px 10px;
}
#link-menu li{
    padding: 4px 17px 4px 5px;
}
#icon-menu li{
    padding: 0 8px 0;
}
#logo{
    width: 135px;
    height: 44px;
}
.link-btn{
    background-color: #76b900;
    border: none;
    color: #fff;
    padding: 10px 12px;
    font-weight: 1000;
}
#nav-sec1{
    display: flex;
}
#nav-sec2{
    display: flex;
}
#top-sec{
    height: 624px;
    background-color: #eee;
    padding-top: 44px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
#top-sec .container{
    justify-content: space-between;
}
.slide-text{
    line-height: 1.75em;
    font-size: 22px;
    font-weight: 500;
}
.slide-img{
    width: 51%;
    min-width: 400px;
}
.top-sec-text{
    width: calc(40% - 20px);
    margin-right: 20px;
}
#gtc-sec{
    background-color: #eee;
    margin-bottom: 15px;
}
#gtc-text-sec{
    width: calc(50% - 20px);
    margin-right: auto;
}
#gtc-logo{
    height: 74px;
}
#gtc-text-sec div{
    margin-left: 15px;
}
#gtc-header{
    margin: 8px 0;
}
#gtc-text{
    line-height: 1.667em;
}
#gtc-button{
    margin: 10px 0 20px;
}
#gtc-side{
    width: 50%;
}
#bot-sec{
    padding-top: 60px;
    background-color: #eee;
}
#bot-sec .container{
    flex-direction: column;
}
.bot-subsec{
    width: 295px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0, 19%), 0 2px 6px 0 rgb(0, 0, 0, 19%);
    margin: 17px 0 44px;
    text-decoration: none;
    color: black;
}
.bot-sec-image{
    width: 295px;
}
.bot-sections{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bot-subsec-header{
    margin: 15px 15px 0;
}
.bot-subsec-text{
    font-size: 14px;
    margin: 10px 15px 10px;
}
#foot1{
    background-color: black;
    color: #eee;
    padding: 60px 0;
}
.foot1-sec{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    padding-right: 30px;
    margin-bottom: 50px;
}
#foot1-sec-last{
    padding: 0;
}
.foot1-header{
    font-size: 24px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 10px;

}
.foot1-sec a{
    color: #76b900;
    line-height: 30px;
    margin-bottom: 5px;
}
#foot1-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#signup-sec{
    display: flex;
    align-items: center;
}
#signup-sec p{
    margin: 0 30px;
    font-size: 18px;
}
#follow-sec{
    display: flex;
    align-items: center;
}
#follow-sec p{
    font-size: 16px;
    color: #747474;
    margin-right: 20px;
}
#follow-sec a{
    margin: 0 10px;
}
#follow-sec path{
    fill: #3a3a3a;
}

@media(max-width: 1350px){
    .p30{
        padding: 0 30px;
    }
}
@media(max-width: 1295px){
    h1{
        font-size: 36px !important;
    }
}
@media(max-width: 1005px){
    h1{
        font-size: 24px !important;
    }
}